@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue: #0052FE;
    --blue-accent: #E8F4FD;
    --red-muted: #E96975;
    --green: #0FBA83;
    --foreground: #171717;
    --foreground-secondary: #202020;
    --foreground-tertiary: #0F1629;
    --foreground-quaternary: #788F9B;
    --foreground-muted: #7C7E8C;
    --card-background: #FFFFFF;
    --background: #EFF2F5;
    --card-stroke: #E3E3E3;
    --destructive-background: #EE6855;
  }
  .button-gradient {
    background: linear-gradient(90deg, #28B9EA 0%, #1B4AEF 100%);
    border-radius: 8px;
  }
}